@media screen and (max-width: 1270px) {
    .block-img {
        width: 32.5%;
    }
}

@media screen and (max-width: 1030px) {
    .wrap {
        width: 95%;
    }

    .right-block {
        width: 45%;
    }

    .container {
        width: 95%;
    }
}

@media screen and (max-width: 800px) {
    .title-block {
        font-size: 18px;
    }

}

@media screen and (max-width: 700px) {
    .menu {
        display: none;
    }

    .adaptive {
        display: block;
    }

    .wrap-head {
        flex-direction: column;
        align-items: center;
    }

    .item {
        margin: 20px 0;
    }

    .block-photo {
        flex-direction: column;
        align-items: center;
    }

    .block-img {
        margin: 15px 0;
        width: 50%;
    }

    .community {
        padding-bottom: 40px;
    }

    .about-block {
        flex-direction: column;
        align-items: center;
    }

    .right-block {
        margin: 40px 0;
    }

    .contacts__container {
        display: flex;
        justify-content: center;
    }

    #textarea,
    .email,
    .tel {
        width: 90%;
    }

    .contact-btn {
        margin-left: 14%;
    }
}

@media screen and (max-width: 540px) {
    .title {
        font-size: 20px;
    }

    .text {
        font-size: 14px;
    }
}